{{ define "main" }}
<div class="container-fluid single-container">
  <div class="section content container">
    <h2>{{.Title}}</h2>
    <h6>List Updated {{now | dateFormat "02 Jan 2006"}}</h6>
    {{ .Content }}
    <br><br>
    {{ $sorted := (sort .Site.Data.themes.themes "repo_stars" "desc") }}
    {{ $starred := where .Site.Data.themes.themes "repo_stars" "!=" nil }}
    
    {{ $.Scratch.Set "repos" slice }}
    
     {{range $starred}}
        {{ if ge .repo_stars 200 }}
          {{ $.Scratch.Add "repos" . }}
        {{ end }}
     {{ end }}
     
   <table class="table is-striped is-hoverable">
    <thead><tr>
      <th></th>
      <th>Theme</th>
      <th class="number-column">★</th>
      <th>Description</th>
    </tr></thead>
    <tbody>
    {{range $i, $e := sort ($.Scratch.Get "repos") "repo_stars" "desc"}}
    <tr>
      <td class="number-column">{{add 1 $i}}</td>
      <td><a href="{{$e.repo_gh}}">{{$e.name}}</a></td>
      <td class="number-column">{{$e.repo_stars}}</td>
      <td>{{$e.description}}</td>
      
    </tr>
    {{ end }}
  </tbody>
  </table>
  </div>
</div>
{{ end }}