{{ define "main" }}
  <main class="single uk-padding">
    <h2>{{.Title}}</h2>
    <h6>List Updated {{now | dateFormat "02 Jan 2006"}}</h6>
    {{ .Content }}
    <hr>
    {{ $sorted := (sort .Site.Data.themes.themes "repo_stars" "desc") }}
    {{ $starred := where .Site.Data.themes.themes "repo_stars" "!=" nil }}
    
    {{ $.Scratch.Set "repos" slice }}
    
     {{range $starred}}
        {{ if ge .repo_stars 200 }}
          {{ $.Scratch.Add "repos" . }}
        {{ end }}
     {{ end }}
     
   <table class="uk-table uk-table-hover">
    <tr>
      <th></th>
      <th>Theme</th>
      <th>★</th>
      <th>Repository</th>
    </tr>
    {{range $i, $e := sort ($.Scratch.Get "repos") "repo_stars" "desc"}}
    <tr>
      <td>{{add 1 $i}}</td>
      <td>{{$e.name}}</td>
      <td>{{$e.repo_stars}}</td>
      <td><a href="{{$e.repo_gh}}">{{$e.repo_gh}}</a></td>
      
    </tr>
    {{ end }}
  </ul>
</main>


{{ end }}