*, *:before, *:after {
  box-sizing: border-box;
}

.outer-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  
}
.wrapper {
  padding: 0 8px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100%;
}

.grow {
  flex: 1 0 auto;
  
}
.header {
  display: flex;
  align-items: center;
  flex: none;
  padding: 20px 36px
}

.header .brand a, .header .brand span {
  display: block;
  font-size: 17px;
  font-weight: 200;
  color: #fff;
  letter-spacing: .03em;
  text-decoration: none;
  text-transform: uppercase;
  align-self: flex-start;

}

.header .navigation {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header .navigation ul {
  display: flex;
  align-items: center;
  margin: 0
}

.header .navigation li {
  font-size: 17px;
  font-weight: 500
}

.navigation-sm ul {
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
    .header {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
    .header > div.brand {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .brand-label {
      display: inline-block;
    }
    .brand-toggle {
      display: inline-block;
    }
}

.status-bar {
  padding: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.status {
  display: inline-block;
  text-align: center;
  padding: 0 8px;
}

.box {
  background: rgba(255, 255, 255, .92);
  box-shadow: 1px 2px 5px 1px rgba(39, 40, 44, .5);
}

.content {
  border: 1px solid rgba(0,0,0,0.1);
  align-self: stretch;
  width: 100%;
  margin: 8px;
  padding: 16px;
}

.tabs-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  width: 33%;

}


.tab {
  display: flex;
  height: 100%;
  flex: 0 1 auto;
  overflow: hidden;
}

.themes-wrapper {
  flex: 1 0 67%;
  display: flex;
  flex-direction: column;
  height:100%;
  width: 67%;

}

.scroll-container {
  overflow-y: auto;
  
}


.tab-buttons-container {
  display: flex;
  flex-direction: column;
}

.tag-container, .license-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}

.tag-btn, .license-btn {
  margin:2px;
}

@media only screen and (max-width: 767px) {
  .tag-btn, .license-btn {
    width: 100%;
    text-align: center;
  }
  .button.small.tag-btn, .button.small.license-btn {
    padding: 4px 0;
  }
}

.theme-box-container {
  padding: 0;
  flex: 1 0 auto;
  margin: 4px;
}

.theme-box {
  text-align: center;
  font-size: 80%;
  width: 100%;
  padding: 20px 4px;
}

.grid-item {
  padding: 0 4px 4px 4px;;
  
}

.wall {
  -moz-column-width: 13em;
  -webkit-column-width: 13em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
}

.item {
  display: none;
  width: 100%;
  height:auto;
}

.show-item {
  display: inline-block;
  
}

.filterDiv {
    float: left;
    font-size: 10px; 
    min-height: 100px;
    text-align: center;
    border: 1px solid rgba(0,0,0,.07);
    margin-bottom: 8px;
    display: none; /* Hidden by default */
}

.padding {
  padding: 8px !important;
}


.show {
    display: block;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 1px;
  display: inline-block;
}

button.active {
  background-color: #313439 !important;
  color: white !important;
}