.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.button.is-fullwidth {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.sort-label {
  flex: 1 0 auto;
  padding: 0.25rem 1rem;
  text-align: left;
  
}

.sort-group {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.tag-btn, .license-btn {
  margin: 0.2em;
  flex: 1 1 auto;
}

#selectAllTags, #selectAllLicenses {
  width: 100%;
}

div.stars-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
  flex-wrap: wrap;
  .buttons {
    margin: .25rem .5rem;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    
    .button.star-label {
      flex: 1 1 auto;
    }
    
    &:last-child {
      flex-grow: 0;
      .button.star-label {
        flex: 1 1 initial;
        padding: 0 1.5rem;
      }
    }
  }
}

.button.is-warning:active, .button.is-warning.is-active {
  border: 1px solid rgba(0,0,0,.25)
}