.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 20;
}

.side {
  border: 0px solid blue;
  overflow: auto;
  height: calc(100vh - 2.5rem);

}

.tab-pane {
  padding: 0 1rem;
}

.column.side {
  padding: 0;
}



.tabs.status-tabs {
  width: 100%;
  flex: 0 0 auto;
  ul {
    justify-content: space-between;
    
  }
   li {
    flex: 1 1 100%;
  }
}

.tab-pane {
  display: none;
}

.tab-pane-show {
  display: block;
}

label.radio, .radio + .radio {
  display: block;
  margin-left: 1rem;
}

