html {
  overflow: hidden;
}
.main-container {
  overflow: hidden;
  height: calc(100vh - 2.5rem);
} 
.single-container {
  overflow: auto;
  height: calc(100vh - 2.5rem);
}

.card-wrapper {
  height: calc(100vh - 2.5rem);
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

.number-column {
  text-align: right;
}

.columns {
  margin: 0;
}

.column {
  padding: 0;
}
.search-container {
  margin: 1rem 0;
}

.notification {
  margin: 1rem;
  .box {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    > * {
      margin: 1rem;
    }
  }
}