{{ $currentPage := . }}
<nav class="uk-navbar-container uk-dark" uk-navbar>

    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li><a href="/">{{.Site.Params.brand}}</a> </li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          
            {{ range .Site.Menus.main }}
              <li><a class="button secondary {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} mdc-tab--active{{end}} mdc-theme--text-primary-on-primary" href="{{ .URL }}">
                {{ .Name }}
              </a></li>
            {{ end}}
            {{ range .Site.Params.social }}
                <li><a class="button secondary" href="{{.url}}"><i class="{{.icon}}"></i></a></li>
            {{ end }}
            {{with .Site.Params.version}}<li><a>{{.}}</a></li>{{end}}
          </ul>
    </div>
</nav>
