.outer-wrapper {
  height: 100vh;
  border:0px solid red;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.uk-navbar-nav>li>a {
  height: 40px;
}

.navbar {
  /*margin-bottom: 0;*/
}

.uk-navbar-container {
  background-color: #222!important;
}

.wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
  border:0px solid green;
}

main.single {
  overflow: auto;
  height: 100%;
  display: block;
  border:0px solid hotpink;
  
}
.content-wrapper {
   border:0px dashed indigo;
   display: flex;
   flex-direction: row;
}
main.main {
  overflow: auto;
  height: 100%;
  display: block;
  border:0px solid hotpink;
  width: 65%;
}
aside {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 35%;
  border:0px solid teal;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0;
}
.uk-switcher {
  border:0px solid orange;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.uk-tab {
  border: 0px solid red;
  width: 100%;
  
  margin: 0;
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  
  align-items:stretch;
  justify-content: space-around;
}

label.checkbox {
  display: block;
}

@media screen and (max-width: 870px) {
  .uk-tab {
    flex-direction: column;
  }
}
.uk-tab::before {
  border: 0;
}

.uk-tab > li {
  border: 0px solid green;
  padding: 0 10px;
  height: 32px;
  flex: initial;
}

.status-bar {
  padding: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.status {
  border: 0px solid teal;
  text-align: center;
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  padding: 0 4px;
  margin: 0;
}

.status-separator {

  width: 1px;
}

.status-inner {
  flex: 0 1 auto;
  border: 0px solid brown;
  display: inline-block;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
}
.wall {
  column-width: 10em;
  column-gap: 1em;
  border:0px dashed cyan;
  margin: 5px;
  
}

.item {
  display: none;
  width: 100%;
  height:auto;
}
.box {
  background: #fff;
  color: #666;
  
  box-shadow: 0 5px 5px rgba(0,0,0,0.08);
  width: 100%;
}

.theme-box {
  padding: 0.5em 1em;
  text-align: center;

}
.tab-buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.tag-btn, .license-btn {
  margin: 0.25em;
  flex: 1 1 auto;
}

.tag-label {
  font-size: .7rem!important;
  margin: 1px;
  color: #666;
}

#selectAllTags, #selectAllLicenses {
  width: 100%;
}
.show-item {
  display: inline-block;
  
}

.filterDiv {
    float: left;
    font-size: 10px; 
    min-height: 100px;
    text-align: center;
    margin-bottom: 8px;
    display: none; /* Hidden by default */
}

.show {
    display: block;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 1px;
  display: inline-block;
}

.uk-search-default {
  width: 100%;
}

.hideBtn {
  display: none;
}

button.active {
  background-color: #313439 !important;
  color: white !important;
}